@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.prm-btn {
  border-radius: 0.375rem;
  background-color: #4f39f6;
  color: aliceblue;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  cursor: pointer;
}
.prm-btn:hover {
  background-color: #432dd7
}

.scnd-btn {
  border-radius: 0.375rem;
  color: #4f39f6;
  background-color: #ffffff;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  cursor: pointer;
}
.scnd-btn:hover {
  background-color: azure
}